*{
    margin: 0;
}

.contenedor{
    background: rgb(93, 192, 196);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 5%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

.img1{ 
width: 300px;
height: 300px;
margin-top: 1px;
margin-left: 15px;
align-items: center;
}

#numero1{
margin-top: 1px;
margin-left: 65px;
align-items: center;
}